* {
  border: none;
  border-radius: 0;
  font-family: 'Iosevka Term', Helvetica, Arial, sans-serif;
  min-height: 0;
  color: white;
}

/* #window {
  padding: 0 20px;
} */

window#waybar {
  font-size: 16px;
  background: #37474f;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#workspaces button {
  font-size: 16px;
  background: transparent;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  border-bottom: 3px solid #fff;
}

#mode {
  border-bottom: 3px solid #fff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
  padding: 0 10px;
  /* background: rgba(0, 0, 0, 0.5); */
}

#clock {
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

#battery.charging {
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}

#battery.charging {
  background: #3a9104;
}

#battery.warning:not(.charging) {
  background: red;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background: red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery {
  /* border-bottom-left-radius: 10px; */
}

/*

#cpu {
  border-bottom: 3px solid #2ecc71;
}

#memory {
  border-bottom: 3px solid #9b59b6;
}

#network {
  border-bottom: 3px solid #64baff;
}

#network.disconnected {
  border-bottom: 3px solid #f53c3c;
}

#pulseaudio {
  border-bottom: 3px solid #f1c40f;
}

#pulseaudio.muted {
  background: #c6262e;
}

#tray {
  border-bottom: 3px solid #715344;
} */
