window {
  margin: 5px;
  background: #222b45;
  color: #fff;
  font-family: 'Product Sans', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  outline: 0;
}

#input {
  background: #1a2138;
  border: 1px solid #151a30;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#text {
  padding: 2px;
}
